name: gh-release

on:
  pull_request:
    branches:
      - main

permissions:
  contents: read
  pull-requests: write

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - run: dd if=/dev/zero bs=1024k count=100 of=100m.dmg
      - run: dd if=/dev/zero bs=1024k count=200 of=200m.dmg
      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          tag_name: fake-release
          draft: true
          token: ${{ secrets.YIHAU }}
          files: |
            *.dmg